<h1>Log In</h1>

<form action="<%= session_url %>" method="POST">
  <%= authenticity_token %>

  <label for="user_email">Email</label>
  <input type="email"
      id="user_email"
      name="user[email]"
      value="<%= @user.email %>">

  <label for="user_password">Password</label>
  <input type="password" id="user_password" name="user[password]">

  <button>Log In</button>
</form>

<%= link_to "Sign Up", new_user_url %>

OR 

<a href="/auth/facebook">LOGIN WITH FACEBOOK!</a>

OR 

<form action="<%= session_url %>" method="POST">
  <%= authenticity_token %>

  <input type="hidden"
      name="user[email]"
      value="demo@demo.com">

  <input type="hidden" name="user[password]" value="demodemo">

  <button>Log In with a Demo Account</button>
</form>