<div class="filler_small"></div>

<section class="info">
  <h1><%= user.escape("name") %></h1>
	
	<% if (user.get("email")) { %>
	  <p><%= user.escape("email") %></p>
	<% } %>
	
	<% if (user.get("college")) { %>
  	<p>
			<a href="#/colleges/<%= user.get("college_id") %>">
				<%= RateMyPurrfessors.colleges.get(user.get("college_id")).get("name") %>
			</a>
		</p>
	<% } %>
	
	<a href="" class="edit_user">Edit my info</a>
</section>


<section class="user_ratings">
  <h1>My Ratings</h1>
	
	<div class="paginate group"></div>
	
	<ul>
		<% if (all_ratings.length > 0) { %>
			<% all_ratings.each(function (rating) { %>
				<li class="user_rating">
					<% if (rating.get("type") === "professor_rating") { %>
						<a href="#/professors/<%= rating.get("professor_id") %>" class="rating_link">
							<div class="professor_icon"></div>
							<h3><%= rating.get("professor").name %></h3>
							<p><%= rating.get("professor").department %> Department at <%= rating.get("professor").college.name %></p>
						</a>
						<a href="#/professor_ratings/<%= rating.get("id") %>/edit" class="edit_rating">Edit</a>
						<a href="" class="delete_rating" data-id="<%= rating.get("id") %>" data-type="professor_rating">Delete</a>
					<% } else { %>
						<a href="#/colleges/<%= rating.get("college_id") %>" class="rating_link">
							<div class="college_icon"></div>
							<h3><%= rating.get("college").name %></h3> 
							<p><%= rating.get("college").location %></p>
						</a>
						<a href="#/college_ratings/<%= rating.get("id") %>/edit" class="edit_rating">Edit</a>
						<a href="" class="delete_rating" data-id="<%= rating.get("id") %>" data-type="college_rating">Delete</a>
					<% } %>
				</li>
			<% }); %>
		<% } else { %>
			<li class="no_ratings">
				You have no ratings :(
				<a class="user_college_search" href="#/colleges">Search Colleges</a>
				<a class="user_professor_search" href="#/professors">Search Professors</a>
			</li>
		<% } %>
	</ul>
	
	<div class="paginate group"></div>
</section>

<div class="filler_small"></div>