<section class="info">
  <h1><%= @user.name %></h1>
  <p><%= @user.email %></p>
  <p><a href="<%= college_url(@user.college_id) %>"><%= @user.college.name %></a></p>
  <%= link_to "Edit my info", edit_user_url(@user) %>
</section>


<section class="ratings">
  <h1>Ratings</h1>
	<ul>
		<% if @all_ratings.length > 0 %>
			<% @all_ratings.each do |rating| %>
				<li>
					<% if defined? rating.professor %>
						<a href="<%= professor_url(rating.professor) %>">
							<%= rating.professor.name %>, <%= rating.professor.department %> Department at 
							<%= rating.professor.college.name %>
						</a>
						<%= link_to "Edit", edit_professor_rating_url(rating) %>
						<%= button_to "Delete", professor_rating_url(rating), method: :delete %>
					<% else %>
						<a href="<%= college_url(rating.college) %>">
							<%= rating.college.name %>, <%= rating.college.location %>
						</a>
						<%= link_to "Edit", edit_college_rating_url(rating) %>
						<%= button_to "Delete", college_rating_url(rating), method: :delete %>
					<% end %>
				</li>
			<% end %>
		<% else %>
			<li>You have no ratings :(</li>
		<% end %>
	</ul>
</section>