<div class="filler_small"></div>

<nav class="professor_sidebar">
  <h3> <p>Professors at</p> <p><%= college.escape("name") %></p></h3>
  <ul class="professors_list">
		<% if (professors.length > 0) { %>
	  	<% professors.each(function (professor) { %>
		  	<li><a href="#/professors/<%= professor.get("id") %>">
					<h4><%= professor.escape("name") %></h4>
					<p><%= professor.escape("department") %> Department</p>
				</a></li>
			<% }); %>
		<% } else { %>
			<li>There are no professors for this college :(</li>
		<% } %>
  </ul>
</nav>

<section class="college_info group">
  <h1><%= college.escape("name") %></h1>
  <p><%= college.escape("location") %></p>
	
	<% if (hasAlreadyRated) { %>
		<a href="#/college_ratings/<%= hasAlreadyRated %>/edit">Edit My Rating</a>
	<% } else { %>
		<a href="#/colleges/<%= college.get("id") %>/college_ratings/new" class="new_college_rating">Rate This College</a> 
	<% } %>

	<% if (ratings.length > 0) { %>
		<section class="college_averages"></section>
	<% } %>

</section>

<section class="ratings">
  <h1>Ratings</h1>

	<div class="paginate">
	</div>

	<ul class="all_ratings"></ul>

	<div class="paginate">
	</div>

	<% if (hasAlreadyRated) { %>
		<a href="#/college_ratings/<%= hasAlreadyRated %>/edit" class="college_bottom_link">Edit My Rating</a>
	<% } else { %>
	  <a href="#/colleges/<%= college.get("id") %>/college_ratings/new" class="college_bottom_link new_college_rating">
			Rate This College
		</a> 
	<% } %> 
</section>

<div class="filler_small"></div>