<footer>
  <div class="home_link">
    <%= link_to "www.ratemypurrfessors.com", root_url %>
  </div>
  <div class="places_links">
    <ul>
    	<li><a href="<%= colleges_url %>">Colleges</a></li>
			<li><a href="<%= professors_url %>">Professors</a></li>
			<li class="rate">
				<a href="">Rate</a>
				<ul class="footer_dropdown">
		    	<li><a href="<%= colleges_url %>">Colleges</a></li>
					<li><a href="<%= professors_url %>">Professors</a></li>
				</ul>
			</li>
    </ul>
  </div>
	<div class="attribution">
		"Cat" symbol by Isabel Foo, from 
		<a href="http://thenounproject.com/">The Noun Project</a> collection.
	</div>
</footer>