<header class="group">
  <div class="logo"><a href="<%= root_url %>"><%= image_tag "RMP_Logo.png" %></a></div>
	
	<div class="nav_search">
		<form action="<%= search_url %>" method="GET">
			<input type="search" name="match" placeholder="Search by college, professor, or department">
			<button>GO!</button>
		</form>
	</div>

  <div class="right_nav">
    <% if logged_in? %>
      <button class="user_nav">Hi, <%= current_user.name %></button>
      <ul class="user_dropdown">
        <li>
          <%= link_to "My Account", user_url(current_user) %>
        </li>
        <li>
          <%= button_to "Log Out", session_url, method: :delete %>
        </li>
      </ul>
    <% else %>
      <%= link_to "Log In/Sign Up", new_session_url, class: "user_nav" %>
    <% end %>
  </div>
</header>