<h1>Add New Professor</h1>

<form action="<%= professors_url %>" method="POST">
  <%= authenticity_token %>

  <label for="professor_first_name">First Name</label>
  <input type="text" 
  		name="professor[first_name]" 
  		id="professor_first_name"
  		value="<%= @professor.first_name %>">

  <label for="professor_middle_initial">Middle Initial</label>
  <input type="text" 
  		name="professor[middle_initial]" 
  		id="professor_middle_initial"
  		size="1"
  		value="<%= @professor.middle_initial %>">

  <label for="professor_last_name">Last Name</label>
  <input type="text" 
  		name="professor[last_name]" 
  		id="professor_last_name"
  		value="<%= @professor.last_name %>">

  <label for="professor_department">Department</label>
  <select name="professor[department]" id="professor_department">
    <option value="">--Select--</option>
    <% @departments.each do |department| %>
      <% selected = @professor.department == department ? "selected" : "" %>
      <option value="<%= department %>" <%= selected %>>
        <%= department %></option>
    <% end %>
  </select>

  <label for="professor_college_id">College</label>
  <select name="professor[college_id]" id="professor_college_id">
    <option value="">--Select--</option>
    <% @colleges.each do |college| %>
      <% selected = @professor.college_id == college.id ? "selected" : "" %>
      <option value="<%= college.id %>" <%= selected %>>
        <%= college.name %></option>
    <% end %>
  </select>

  <button>Add Professor</button>
</form>