<section class="professor_info">
  <h1><%= @professor.name %></h1>
  <p><%= @professor.department %> Department</p>
  <p><%= @professor.college.name %></p>
	<%= link_to "Rate This Professor", professor_professor_ratings_url(@professor) %>
</section>

<% if @professor.professor_ratings %>
	<section class="avg_ratings">
		<%= render "professor_ratings/averages", ratings: @professor.professor_ratings, professor: @professor %>
	</section>
<% end %>

<section class="ratings">
  <h1>Ratings</h1>
	<ul>
		<% if @professor.professor_ratings.length > 0 %>
			<% @professor.professor_ratings.each do |rating| %>
				<li class="professor_rating">
					<%= render "professor_ratings/show", rating: rating %>
				</li>
			<% end %>
		<% else %>
		  <li>There are no ratings for this professor :(</li>
		<% end %>
	</ul>
	
	<%= link_to "Rate This Professor", professor_professor_ratings_url(@professor) %>
</section>