<div class="vote_buttons">
<% if (has_already_voted_on) { %>
	<% var vote_value = has_already_voted_on === 1 ? "upvoted" : "downvoted" %>
	<p>You <%= vote_value %> this post</p>
	<a href="" class="undo">Undo</a>
<% } else { %>
	<h3>Vote!</h3>
	<a href="" class="upvote">&#10506;</a>
	<a href="" class="downvote">&#10507;</a>
<% } %>
</div>

<div class="vote_info">
	<p><%= upvotes %> <%= upvotes === 1 ? "person" : "people" %> found this helpful</p>
	<p><%= downvotes %> <%= downvotes === 1 ? "person" : "people" %> found this unhelpful</p>
</div>