<div class="filler_small"></div>

<section class="professor_info group">
	<div class="professor_picture">
		<img src="<%= professor.get("filepicker_url") %>">
	</div>
  <h1><%= professor.escape("name") %></h1>
  <p><%= professor.escape("department") %> Department</p>
  <p><a href="#/colleges/<%= professor.get("college_id") %>"><%= professor.get("college").name %></a></p>


	<% if (ratings.length > 0) { %>
		<section class="professor_averages"></section>
	<% } %>

	<a href="#/professors/<%= professor.get("id") %>/professor_ratings/new" class="new_professor_rating">Rate This Professor</a>
	
</section>

<section class="ratings">
  <h1>Ratings</h1>
	
	<div class="paginate">
	</div>
	
	<ul class="all_ratings">
		<% if (ratings.length === 0) { %>
			<li class="no_ratings">There are no ratings for this professor :(</li>
		<% } %>
	</ul>
	
	<div class="paginate">
	</div>
	
	<a href="#/professors/<%= professor.get("id") %>/professor_ratings/new" class="bottom_link new_professor_rating">
		Rate This Professor
	</a>
</section>

<div class="filler_small"></div>