<form action="<%= search_colleges_url %>" method="GET">
  <label for="match">Search</label>
  <input type="search" id="match" name="match" placeholder="Search by name or location">

  <button>Search</button>
</form>

<section class="colleges_list">
  <h1><%= @header_text %></h1>

  <ul>
    <% if @colleges.length > 0 %>
      <% @colleges.each do |college| %>
        <li>
          <a href="<%= college_url(college) %>">
            <h3><%= college.name %></h3>
            <p><%= college.location %></p>
          </a>
        </li>
      <% end %>
    <% else %>
      <li>There are no colleges matching that search :(</li>
    <% end %>
  </ul>
</section>