<section class="college_info">
  <h1><%= @college.name %></h1>
  <p><%= @college.location %></p>
</section>

<section class="professor_sidbar">
  <h3>Professors at <%= @college.name %></h3>
  <ul class="professors_list">
		<% if @professors %>
	  	<% @professors.each do |professor| %>
		  	<li><a href="<%= professor_url(professor) %>">
					<h4><%= professor.name %></h4>
					<p><%= professor.department %> Department</p>
				</a></li>
			<% end %>
		<% else %>
			<li>There are no professors for this college :(</li>
		<% end %>
  </ul>
</section>

<section class="ratings">
  <h1>Ratings</h1>
  <p>There are no ratings at this time :(</p>
</section>