<section class="sidebar">
  <ul>
    <li><a href="<%= colleges_url %>">COLLEGES</a></li>
		<li><a href="<%= professors_url %>">PROFESSORS</a></li>
		<li class="rate">
			<a href="">RATE</a>
			<ul class="sidebar_dropdown">
				<li><a href="<%= colleges_url %>">Colleges</a></li>
				<li><a href="<%= professors_url %>">Professors</a></li>
			</ul>
		</li>
  </ul>
</section>

<section class="content">
  <p class="start">Get started...</p>
	<article>
		<div class="professor">
			<a href="<%= professors_url %>">
				<p>find a</p>
				<strong>professor</strong>
			</a>
		</div>
		
		<div class="college">
			<a href="<%= colleges_url %>">
				<p>find a</p>
				<strong>college</strong>
			</a>
		</div>
		
		<p class="main_label">
			Find
			<strong class="what">what</strong>
			<strong class="professor">the professor</strong>
			<strong class="college">the college</strong>
			you're looking for
		</p>
	</article>
</section>