<section class="sidebar">
  <ul>
    <li><a href="<%= colleges_url %>">Colleges</a></li>
		<li><a href="<%= professors_url %>">Professors</a></li>
		<li>
			<a href="">Rate</a>
			<ul class="sidebar_dropdown">
				<li><a href="<%= colleges_url %>">Colleges</a></li>
				<li><a href="<%= professors_url %>">Professors</a></li>
			</ul>
		</li>
  </ul>
</section>

<section class="content">
  <div class="logo"><img src="http://bit.ly/1waJoX9"></div>
  <p>Get started...</p>
  <p>
    <%= link_to "Log In/Sign Up" %>
    or
    <div>
      <a href="#">Search</a>
      <ul>
				<li><%= link_to "...for professors", professors_url %></li>
        <li><%= link_to "...for colleges", colleges_url %></li>
      </ul>
    </div>
  </p>
</section>