<div class="loading"></div>

<section class="content">
  <p class="start">Get started...</p>
	<article>
		<div class="professor">
			<a href="<%= professors_url %>">
				<p>find a</p>
				<strong>professor</strong>
			</a>
		</div>
		
		<div class="college">
			<a href="<%= colleges_url %>">
				<p>find a</p>
				<strong>college</strong>
			</a>
		</div>
		
		<p class="main_label">
			Find
			<strong class="what">what</strong>
			<strong class="professor">the professor</strong>
			<strong class="college">the college</strong>
			you're looking for
		</p>
	</article>
</section>

<script id="departments">
	<%= Professor::DEPARTMENTS.to_json.html_safe %>
</script>

<script id="grad_years">
	<%= CollegeRating.grad_years.to_json.html_safe %>
</script>

<script id="grades">
	<%= ProfessorRating::GRADES.to_json.html_safe %>
</script>