<div>
	<h1 class="rating_label">Reputation</h1>
	<p class="number"><%= rating.reputation %></p>
</div>

<div>
	<h1 class="rating_label">Location</h1>
	<p class="number"><%= rating.location %></p>
</div>

<div>
	<h1 class="rating_label">Opportunities</h1>
	<p class="number"><%= rating.opportunities %></p>
</div>

<div>
	<h1 class="rating_label">Library</h1>
	<p class="number"><%= rating.library %></p>
</div>

<div>
	<h1 class="rating_label">Grounds and Common Areas</h1>
	<p class="number"><%= rating.grounds_and_common_areas %></p>
</div>

<div>
	<h1 class="rating_label">Internet</h1>
	<p class="number"><%= rating.internet %></p>
</div>

<div>
	<h1 class="rating_label">Food</h1>
	<p class="number"><%= rating.food %></p>
</div>

<div>
	<h1 class="rating_label">Clubs</h1>
	<p class="number"><%= rating.clubs %></p>
</div>

<div>
	<h1 class="rating_label">Social</h1>
	<p class="number"><%= rating.social %></p>
</div>

<div>
	<h1 class="rating_label">Happiness</h1>
	<p class="number"><%= rating.happiness %></p>
</div>

<div>
	<h1 class="rating_label">Comments</h1>
	<p class="number"><%= rating.comments %></p>
</div>

<div>
	<h1 class="rating_label">Graduation Year of Rater</h1>
	<p class="number"><%= rating.graduation_year %></p>
</div>

<div class="up_down_votes">
	<%= render "up_down_votes/college", rating: rating %>
</div>