<form action="<%= action %>" method="POST" class="college_rating group">
	<input type="hidden" name="_method" value="<%= method %>">
	
	<input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr("content") %>">
	
	<input type="hidden" name="college_rating[college_id]" value="<%= college.get("id") %>">
	
	
	<!-- <article class="college_categories"> -->
		<div class="radio">
			<input type="radio" 
					name="college_rating[reputation]" 
					class="hidden" 
					checked="checked">
					
			<label class="radio">Reputation</label>
				<input type="radio" 
						name="college_rating[reputation]" 
						id="reputation_1" 
						value="1">
				<label for="reputation_1">&#9733;</label>
			
				<input type="radio" 
						name="college_rating[reputation]"
						id="reputation_2"
						value="2">
				<label for="reputation_2">&#9733;</label>
				
				<input type="radio" 
						name="college_rating[reputation]"
						id="reputation_3"
						value="3">
				<label for="reputation_3">&#9733;</label>
				
				<input type="radio" 
						name="college_rating[reputation]"
						id="reputation_4" 
						value="4">
				<label for="reputation_4">&#9733;</label>
					
				<input type="radio" 
						name="college_rating[reputation]" 
						id="reputation_5" 
						value="5">
				<label for="reputation_5">&#9733;</label>
		</div>
			
		<div class="radio">	
			<input type="radio" 
					name="college_rating[location]" 
					class="hidden" 
					checked="checked">
		
			<label class="radio">Location</label>
				<input type="radio" 
						name="college_rating[location]" 
						id="location_1" 
						value="1">
				<label for="location_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[location]"
						id="location_2"
						value="2">
				<label for="location_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[location]"
						id="location_3"
						value="3">
				<label for="location_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[location]" 
						id="location_4"
						value="4">
				<label for="location_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[location]" 
						id="location_5" 
						value="5">
				<label for="location_5">&#9733;</label>
		</div>
	
		<div class="radio">
			<input type="radio" 
					name="college_rating[opportunities]" 
					class="hidden" 
					checked="checked">
								
			<label class="radio">Opportunities</label>
				<input type="radio" 
						name="college_rating[opportunities]" 
						id="opportunities_1" 
						value="1">
				<label for="opportunities_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[opportunities]"
						id="opportunities_2"
						value="2">
				<label for="opportunities_2">&#9733;</label>
					
				<input type="radio" 
						name="college_rating[opportunities]"
						id="opportunities_3"
						value="3">
				<label for="opportunities_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[opportunities]" 
						id="opportunities_4"
						value="4">
				<label for="opportunities_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[opportunities]" 
						id="opportunities_5" 
						value="5">
				<label for="opportunities_5">&#9733;</label>
		</div>
				
		<div class="radio">
			<input type="radio" 
					name="college_rating[library]" 
					class="hidden" 
					checked="checked">
			
			<label class="radio">Library</label>
				<input type="radio" 
						name="college_rating[library]" 
						id="library_1" 
						value="1">
				<label for="library_1">&#9733;</label>   
					

				<input type="radio" 
						name="college_rating[library]"
						id="library_2"
						value="2">
				<label for="library_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[library]"
						id="library_3"
						value="3">
				<label for="library_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[library]" 
						id="library_4"
						value="4">
				<label for="library_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[library]" 
						id="library_5" 
						value="5">
				<label for="library_5">&#9733;</label>
		</div>
	
		<div class="radio">
			<input type="radio" 
					name="college_rating[grounds_and_common_areas]" 
					class="hidden" 
					checked="checked">
						
			<label class="radio">Grounds and Common Areas</label>
				<input type="radio" 
						name="college_rating[grounds_and_common_areas]" 
						id="grounds_and_common_areas_1" 
						value="1">
				<label for="grounds_and_common_areas_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[grounds_and_common_areas]"
						id="grounds_and_common_areas_2"
						value="2">
				<label for="grounds_and_common_areas_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[grounds_and_common_areas]"
						id="grounds_and_common_areas_3"
						value="3">
				<label for="grounds_and_common_areas_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[grounds_and_common_areas]" 
						id="grounds_and_common_areas_4"
						value="4">
				<label for="grounds_and_common_areas_4">&#9733;</label>
					
				<input type="radio" 
						name="college_rating[grounds_and_common_areas]" 
						id="grounds_and_common_areas_5" 
						value="5">
				<label for="grounds_and_common_areas_5">&#9733;</label>
		</div>
				
		<div class="radio">
			<input type="radio" 
					name="college_rating[internet]" 
					class="hidden" 
					checked="checked">
						
			<label class="radio">Internet</label>
				<input type="radio" 
						name="college_rating[internet]" 
						id="internet_1" 
						value="1">
			<label for="internet_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[internet]"
						id="internet_2"
						value="2">
				<label for="internet_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[internet]"
						id="internet_3"
						value="3">
				<label for="internet_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[internet]" 
						id="internet_4"
						value="4">
				<label for="internet_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[internet]" 
						id="internet_5" 
						value="5">
				<label for="internet_5">&#9733;</label>
		</div>
	
		<div class="radio">
			<input type="radio" 
					name="college_rating[food]" 
					class="hidden" 
					checked="checked">
						
			<label class="radio">Food</label>
				<input type="radio" 
						name="college_rating[food]" 
						id="food_1" 
						value="1">
				<label for="food_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[food]"
						id="food_2"
						value="2">
				<label for="food_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[food]"
						id="food_3"
						value="3">
				<label for="food_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[food]" 
						id="food_4"
						value="4">
				<label for="food_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[food]" 
						id="food_5" 
						value="5">		
				<label for="food_5">&#9733;</label>
		</div>
				
		<div class="radio">
			<input type="radio" 
					name="college_rating[clubs]" 
					class="hidden" 
					checked="checked">
						
			<label class="radio">Clubs</label>
				<input type="radio" 
						name="college_rating[clubs]" 
						id="clubs_1" 
						value="1">
				<label for="clubs_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[clubs]"
						id="clubs_2"
						value="2">
				<label for="clubs_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[clubs]"
						id="clubs_3"
						value="3">
				<label for="clubs_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[clubs]"
						id="clubs_4" 
						value="4">
				<label for="clubs_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[clubs]" 
						id="clubs_5" 
						value="5">
				<label for="clubs_5">&#9733;</label>
		</div>
				
		<div class="radio">
			<input type="radio" 
					name="college_rating[social]" 
					class="hidden" 
					checked="checked">
						
			<label class="radio">Social</label>
				<input type="radio" 
						name="college_rating[social]" 
						id="social_1" 
						value="1">
				<label for="social_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[social]"
						id="social_2"
						value="2">
				<label for="social_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[social]"
						id="social_3"
						value="3">
				<label for="social_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[social]" 
						id="social_4"
						value="4">
				<label for="social_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[social]" 
						id="social_5" 
						value="5">
				<label for="social_5">&#9733;</label>
		</div>
		
		<div class="radio">
			<input type="radio" 
					name="college_rating[happiness]" 
					class="hidden" 
					checked="checked">
					
			<label class="radio">Happiness</label>
				<input type="radio" 
						name="college_rating[happiness]" 
						id="happiness_1" 
						value="1">
				<label for="happiness_1">&#9733;</label>

				<input type="radio" 
						name="college_rating[happiness]"
						id="happiness_2"
						value="2">
				<label for="happiness_2">&#9733;</label>

				<input type="radio" 
						name="college_rating[happiness]"
						id="happiness_3"
						value="3">
				<label for="happiness_3">&#9733;</label>

				<input type="radio" 
						name="college_rating[happiness]" 
						id="happiness_4"
						value="4">
				<label for="happiness_4">&#9733;</label>

				<input type="radio" 
						name="college_rating[happiness]" 
						id="happiness_5" 
						value="5">
				<label for="happiness_5">&#9733;</label>
		</div>
	
	
	<article class="college_extra">
		<div>			
			<label for="comments">Comments <span class="optional">(optional)</span></label>
			<textarea id="comments" 
						name="college_rating[comments]" 
						placeholder="Here's your chance to expand!"></textarea>
		</div>
	
		<div>			
			<label for="graduation_year">Graduation Year</label>
			<select id="graduation_year" name="college_rating[graduation_year]">
				<option value="">--Select--</option>
				<% gradYears.forEach(function (year) { %>
					<option value="<%= year %>"><%= year %></option>
				<% }); %>
			</select>
		</div>
	</article>
	
	<button>Submit</button>
</form>
