<p></p>

<div>
	<h1 class="rating_label">Reputation</h1>
	<p class="number"><%= rating.escape("reputation") %></p>
</div>

<div>
	<h1 class="rating_label">Location</h1>
	<p class="number"><%= rating.escape("location") %></p>
</div>

<div>
	<h1 class="rating_label">Opportunities</h1>
	<p class="number"><%= rating.escape("opportunities") %></p>
</div>

<div>
	<h1 class="rating_label">Library</h1>
	<p class="number"><%= rating.escape("library") %></p>
</div>

<div>
	<h1 class="rating_label">Grounds and Common Areas</h1>
	<p class="number"><%= rating.escape("grounds_and_common_areas") %></p>
</div>

<div>
	<h1 class="rating_label">Internet</h1>
	<p class="number"><%= rating.escape("internet") %></p>
</div>

<div>
	<h1 class="rating_label">Food</h1>
	<p class="number"><%= rating.escape("food") %></p>
</div>

<div>
	<h1 class="rating_label">Clubs</h1>
	<p class="number"><%= rating.escape("clubs") %></p>
</div>

<div>
	<h1 class="rating_label">Social</h1>
	<p class="number"><%= rating.escape("social") %></p>
</div>

<div>
	<h1 class="rating_label">Happiness</h1>
	<p class="number"><%= rating.escape("happiness") %></p>
</div>


<div class="grad_year">
	<h1 class="rating_label">Rater Info</h1>
	<p>Graduation Year: <%= rating.escape("graduation_year") %></p>
</div>

<% if (rating.get("comments")) {%>
	<div class="comments_display">
		<h1 class="rating_label">Comments</h1>
		<p><%= rating.escape("comments") %></p>
	</div>
<% } %>

<div class="up_down_votes"></div>