<!DOCTYPE html>
<html>
	<head>
		<title>RateMyPurrfessors</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
	</head>
	<body>
		<%= render "shared/header" %>

		<main class="group">
			<%= render "shared/notices" %>

			<%= yield %>
		</main>

		<%= render "shared/footer" %>

	</body>
</html>
