<!DOCTYPE html>
<html>
	<head>
		<title>RateMyPurrfessors</title>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= filepicker_js_include_tag %>
		<script>
			filepicker.setKey("<%= ENV["FILEPICKER_API_KEY"] %>");
		</script>
	</head>
	<body>
		<%= render "shared/header" %>

		<div class="background"></div>
		
		<main class="group">
			<%= render "shared/notices" %>

			<%= yield %>
		</main>

		<%= render "shared/footer" %>

	</body>
</html>
