<form action="<%= action %>" method="POST">
	<input type="hidden" name="_method" value="<%= method %>">
	
	<input type="hidden" name="authenticity_token" value="<%= $('meta[name="csrf-token"]').attr("content") %>">
	
	<input type="hidden" name="professor_rating[professor_id]" value="<%= professor.get("id") %>">
	
	<label for="course_code">Course Code</label>
	<input type="text" 
			name="professor_rating[course_code]"
			id="course_code"
			placeholder="e.g., ECON101">
			
	<input type="checkbox"
			name="professor_rating[online_class]"
			id="online_class"
			value="true">
	<label for="online_class">This class was online</label>
	
	<label>Helpfulness</label>
		<input type="radio" 
				name="professor_rating[helpfulness]" 
				id="helpfulness_1" 
				value="1">
				<label for="helpfulness_1">no help at all</label>
			
			<input type="radio" 
					name="professor_rating[helpfulness]"
					value="2">
					
			<input type="radio" 
					name="professor_rating[helpfulness]"
					value="3">
					
			<input type="radio" 
					name="professor_rating[helpfulness]" 
					value="4">
					
			<input type="radio" 
					name="professor_rating[helpfulness]" 
					id="helpfulness_5" 
					value="5">
					<label for="helpfulness_5">goes out of the way to help</label>
					
	<label>Clarity</label>
		<input type="radio" 
				name="professor_rating[clarity]" 
				id="clarity_1" 
				value="1">
				<label for="clarity_1">going to lectures was pointless</label>
			
			<input type="radio" 
					name="professor_rating[clarity]"
					value="2">
					
			<input type="radio" 
					name="professor_rating[clarity]"
					value="3">
					
			<input type="radio" 
					name="professor_rating[clarity]" 
					value="4">
					
			<input type="radio" 
					name="professor_rating[clarity]" 
					id="clarity_5" 
					value="5">
					<label for="clarity_5">perfectly clear</label>
					
	<label>Easiness</label>
		<input type="radio" 
				name="professor_rating[easiness]" 
				id="easiness_1" 
				value="1">
				<label for="easiness_1">impossible to pass</label>
			
			<input type="radio" 
					name="professor_rating[easiness]"
					value="2">
					
			<input type="radio" 
					name="professor_rating[easiness]"
					value="3">
					
			<input type="radio" 
					name="professor_rating[easiness]" 
					value="4">
					
			<input type="radio" 
					name="professor_rating[easiness]" 
					id="easiness_5" 
					value="5">
					<label for="easiness_5">don't need to show up</label>
					
	<input type="checkbox" 
			name="professor_rating[taken_for_credit]" 
			id="taken_for_credit"
			value="false">
	<label for="taken_for_credit">I did not take this course for credit</label>
	
	<input type="checkbox" 
			name="professor_rating[hotness]" 
			id="hotness"
			value="true">
	<label for="hotness">ME-OW</label>
	
	<label for="comments">Comments</label>
	<textarea name="professor_ratings[comments]"
				id="comments"
				placeholder="Now's the time to be more specific with your experience!">
			</textarea>
			
	<input type="checkbox" 
			name="professor_rating[attendance_is_mandatory]" 
			id="attendance"
			value="true">
	<label for="attendance">Attendance was STRICTLY ENFORCED (i.e., part of the grade)</label>
	
	<label>Interest</label>
		<input type="radio" 
				name="professor_rating[interest]" 
				id="interest_1" 
				value="1">
				<label for="interest_1">completely boring</label>
			
			<input type="radio" 
					name="professor_rating[interest]"
					value="2">
					
			<input type="radio" 
					name="professor_rating[interest]"
					value="3">
					
			<input type="radio" 
					name="professor_rating[interest]" 
					value="4">
					
			<input type="radio" 
					name="professor_rating[interest]" 
					id="interest_5" 
					value="5">
					<label for="interest_5">RIVETING</label>
					
		<label>Textbook Use</label>
			<input type="radio" 
					name="professor_rating[textbook_use]" 
					id="textbook_use_1" 
					value="1">
					<label for="textbook_use_1">what textbook?</label>
			
				<input type="radio" 
						name="professor_rating[textbook_use]"
						value="2">
					
				<input type="radio" 
						name="professor_rating[textbook_use]"
						value="3">
					
				<input type="radio" 
						name="professor_rating[textbook_use]" 
						value="4">
					
				<input type="radio" 
						name="professor_rating[textbook_use]" 
						id="textbook_use_5" 
						value="5">
						<label for="textbook_use_5">textbook essential to pass</label>
						
		<label for="grade_received">Grade Received</label>
		<select name="professor_rating[grade_received]"
		  		id="grade_received">
			<option value="">--Select--</option>
			<% grades.forEach(function (grade) { %>
				<option value="<%= grade %>"><%= grade %></option>
			<% }); %>
		</select>
		
		<button>Submit</button>
</form>